@model DentHub.Web.Areas.Administration.Models.DentistViewModel

@{
    ViewData["Title"] = "DentistPatients";
}

<h2>My Patients</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Average Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var patientRating in Model.AverageRatingByPatient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => patientRating.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => patientRating.Value)
            </td>
            
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
<h2>Average Rating: @Model.AverageRating</h2>