@model DentHub.Web.Models.Appointment.AppointmentsViewModel

@{
    ViewData["Title"] = "Offerings";
}

<h1>@Model.Appointments.FirstOrDefault().DentistName's Offerings</h1>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>
                Dentist Name
            </th>
             <th>
                Clinic
            </th>
            <th>
                Appointment Start  - Appointment End
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var appointment in Model.Appointments) {
        <tr>
            <td>
                @appointment.DentistName   
            </td>
            <td>
                @appointment.ClinicName
            </td>
            <td>
                @appointment.TimeStart - @appointment.TimeEnd
            </td>
            <td>
                @appointment.Status
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Book", "Book", new { id = appointment.Id })*@
                <a href="/Appointment/Book/@appointment.Id">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
