@model DentHub.Web.Areas.Administration.Models.DentistsViewModel

@{
    ViewData["Title"] = "View";
}

<h2>All Dentists</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var dentist in Model.Dentists) {
        <tr>
            <td>
                @dentist.FirstName @dentist.LastName - @dentist.Specialty - @dentist.ClinicName - @dentist.AverageRating
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id= dentist.Id }) |
                @Html.ActionLink("Details", "Details", new { id=dentist.Id }) |
                @Html.ActionLink("Deactivate", "Deactivate", new { id= dentist.Id })
            </td>
        </tr>
}
    </tbody>
</table>
