@model DentHub.Web.Models.Appointment.AppointmentViewModel

@using Microsoft.AspNetCore.Identity
@using DentHub.Data.Models

@inject SignInManager<DentHubUser> SignInManager
@inject UserManager<DentHubUser> UserManager

<td class="delete-section">
    @if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Dentist") && DateTime.Now < Model.TimeStart)
    {
        <a class="delete-link" href="@Url.Action("Cancel", new { id = Model.Id })">Cancel</a>
        <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="Model.Id">Confirm Cancellation</div>
    }
    @if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Patient") && Model.Status == "Offering" && DateTime.Now < Model.TimeStart)
    {
    @Html.ActionLink("Book", "Book", new { id = Model.Id })
    }

</td>
<td>
    @if (Model.Status == "Booked" && !Model.IsRatedByDentist && DateTime.Now > Model.TimeEnd)
    {
        <a asp-controller="Rating" asp-action="RateAppointment" asp-route-id="@Model.Id">Rate</a>
    }
</td>

@*@if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Dentist"))
{
    <td>
        @Html.ActionLink("Details", "Details", new { id = Model.Id })
    </td>
    if (DateTime.Now < Model.TimeStart)
    {
        <td class="delete-section">
            <a class="delete-link" href="@Url.Action("Cancel", new { id = Model.Id })">Cancel</a>
            <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="Model.Id">Confirm Cancellation</div>
        </td>
    }
    if (Model.Status == "Booked" && !Model.IsRatedByDentist && DateTime.Now > Model.TimeEnd)
    {
        <td>
            <a asp-controller="Rating" asp-action="RateAppointment" asp-route-id="@Model.Id">Rate</a>
        </td>
    }
}

@if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Patient"))
{
    if (Model.Status == "Offering" && DateTime.Now < Model.TimeStart)
    {
        <td>
            @Html.ActionLink("Book", "Book", new { id = Model.Id })
        </td>
    }
    if (Model.Status == "Booked" && !Model.IsRatedByPatient && DateTime.Now > Model.TimeEnd)
    {
        <td>
            @Html.ActionLink("Rate", "RateAppointment", new { id = Model.Id })
            <a asp-controller="Rating" asp-action="RateAppointment" asp-route-id="@Model.Id">Rate</a>
        </td>
    }
}*@


