@model DentHub.Web.Models.Appointment.AppointmentsViewModel

@{
    ViewData["Title"] = "Index";
}
<br>
<h1>My Appointments</h1>

<dl class="dl-horizontal"></dl>
<table class="table">
    <tr>
        <th>Dentist Name</th>
        <th>Clinic</th>
        <th>Patient Name</th>
        <th>Start - End</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var appointment in Model.Appointments)
    {
        <tr class=" text-danger">
            <td>
                @appointment.DentistName 
            </td>
            <td>
                @appointment.ClinicName
            </td>
            <td>
                @appointment.PatientName
                </td>
            <td>
                @appointment.TimeStart - @appointment.TimeEnd
            </td>
            <td>
                @appointment.Status
            </td>
            <td>
                @await Html.PartialAsync("_AppointmentActionsPartial.cshtml", appointment)
</td>
</tr>

    }
</table>
@await Html.PartialAsync("_AppointmentsPartial.cshtml")




