@model DentHub.Web.Areas.Administration.Models.PatientsViewModel

@{
    ViewData["Title"] = "View";
}
<br>
<h1>All Patients</h1>
@*<hr>*@

<table class="table">
    <tr>
        <th>Patient Name</th>
        <th>Average Rating</th>
        <th>Actions</th>
    </tr>
    @*<thead>
        <tr>
            <th>
 
                Patient Name
            </th>
            <th>
                Username
            </th>
            <th>
                Average Rating
            </th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var patient in Model.Patients)
        {
        <tr>
            <td>
                @patient.FirstName @patient.LastName
            </td>
            @*<td>
                @patient.UserName
            </td>*@
            <td>
                @patient.AverageRating
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = patient.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = patient.Id }) |
                @Html.ActionLink("Deactivate", "Deactivate", new { id = patient.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
