@model DentHub.Web.Areas.Administration.Models.ClinicsViewModel

@{
    ViewData["Title"] = "All";
}

<h2>All</h2>

<div>
    <h4>ClinicsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
@foreach (var clinic in Model.Clinics)
{
    <div>
        <p> @clinic.Name -- @clinic.Street @clinic.City @clinic.PostalCode -- Working hours: @clinic.WorkingHours </p>
    </div>
    <div>
        @foreach (var dentist in clinic.Dentists)
        {
            <div>
                @dentist.FirstName @dentist.LastName -- @dentist.Specialty
            </div>
            <div>
                <img src="@dentist.ImageUrl">
            </div>
        }
    </div>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
