@model DentHub.Web.Areas.Administration.Models.ClinicViewModel

@using DentHub.Web.Areas.Administration.Models

@{
    ViewData["Title"] = "Details";
}
<br>
<h1>@Model.Name</h1>
<hr>
<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingHours)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Addresss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Addresss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dentists):
        </dt>*@

    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dentist in Model.Dentists)
        {
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="@dentist.ImageUrl">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@dentist.FirstName @dentist.LastName</h4>
                    @dentist.Specialty
                    <br>
                    @await Html.PartialAsync("_DentistOfferings", new DentistViewModel { Id = dentist.Id })
                </div>
               </div>
            @*<tr>
                <td>
                    @dentist.FirstName @dentist.LastName -- @dentist.Specialty
                </td>
                <td>
                    <img src="@dentist.ImageUrl" />
                </td>
                <td>
                    @await Html.PartialAsync("_DentistOfferings", new DentistViewModel { Id = dentist.Id })
                </td>
            </tr>*@
        }
    </tbody>
</table>
<div>
    @await Html.PartialAsync("_ClinicDetailsPartial")
    @Html.ActionLink("All Clinics", "All", "Clinic")
</div>

